/* 테이블 컨테이너 */
.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  padding: 8px;
}

/* 테이블 전체 레이아웃 */
.product-manage-table {
  width: 100%;
  border-collapse: separate;
  font-size: 14px;
  color: #596380;
  table-layout: fixed;
}

/* 테이블 영역 공통 */
.table-wrapper {
  margin-top: 10px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

/* thead */
.table-head {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255); /* 배경색 필수 (투명하면 밑 행이 비침) */
  z-index: 2;/* 다른 요소보다 위에 표시 */
  background-color: #f9f9f9;
  font-weight: 600;
  color: #333;
}

.table-head tr{
  display: grid;
  grid-template-columns: 20px 100px 1fr 200px 200px; /* 동일한 열 비율 */
  /* align-items: center; */
  background-color: #f4f4f4;
  border-radius: 2vh;
  height: 5vh;
  padding: 0 12px 0 12px;
  margin: 0 20px 0 10px;
  align-items: center;
  border-radius: 2vh; 
  transition: background-color 0.2s ease;
}

.table-head th {
  text-align: center;
  justify-content: center;
  font-weight: 600;
  font-size: 13px;
  color: #333;
}

/* tbody row */
.table-body-wrapper {
  max-height: 68vh;
  overflow-y: auto;
}

.table-row {
  display: grid;
  grid-template-columns: 20px 100px 1fr 200px 200px; /* 지정한 열 비율 */
  align-items: center;
  padding: 12px;
  border: 1px solid #eaeaea;
  border-radius: 2vh; /* radius 2vh 적용 */
  background-color: #fff;
  transition: background-color 0.2s ease;
}

.table-row.selected-row {
  background-color: #e0f7f5;
}

/* td 내부 공통 */
.table-row td {
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
}
