.product-manage-table {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 14px;
    color: #596380;
}

.table-head,
.table-row {
    display: grid;
    grid-template-columns: 20px 100px 1fr 240px 240px;
    align-items: center;
    border: 1px solid #eee;
    padding: 10px 16px;
    border-radius: 8px;
    background-color: #fff;
}

.table-head {
    background-color: #f9f9f9;
    font-weight: 600;
    color: #333;
}

.table-col {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.table-col-left {
  display: flex;
  flex: 1;               
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  margin: 0 10px 0 10px;
}


.checkbox-col {
    flex-direction: column;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center; 
  margin-bottom: 6px;

}


.button-row {
  display: flex;
  gap: 8px;
}

.market-label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    color: #ff5722;
    font-weight: bold;
}

.thumb {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.goods-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;    
  min-width: 0; 
}


.goods-title {
    font-weight: 500;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    flex: 1;
    min-width: 0;
    display: flex;
}


.meta {
    font-size: 13px;
    color: #999;
}


.detail-col {
    flex-direction: column;
}

.basic-info {
    font-weight: 500;
    color: #666;
}

.alert {
    color: #ff5959;
    font-size: 13px;
    margin-top: 4px;
}