/* styles/productUpload/itemSummary/itemSummaryInformSection.css */

/* 최상위 컨테이너 스타일 */
.item-summary-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  box-sizing: border-box;
}

/* 테이블 영역 공통 */
.table-wrapper {
  margin-top: 10px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.product-manage-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.product-manage-table th,
.product-manage-table td {
  padding: 8px 10px;
  border-bottom: 1px;
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
}

/* 헤더 스타일 */

.table-head {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255); /* 배경색 필수 (투명하면 밑 행이 비침) */
  z-index: 2;/* 다른 요소보다 위에 표시 */
  background-color: #f9f9f9;
  font-weight: 600;
  color: #333;
  
}


.table-head th {
  background-color: #f4f4f4;
  font-weight: 600;
  font-size: 13px;
  color: #d3e1ee;
}

/* 체크박스 헤더 */
.table-head th input[type="checkbox"] {
  margin: 0;
  cursor: pointer;
}

/* 개별 Row */
.table-row {
  transition: background-color 0.2s ease;
  padding: 1vh;
  margin: 10px;
}

.selected-row {
  background-color: #eaf6ff;
}

/* 상품 정보 썸네일 및 상세 정보 */
.table-col-left {
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
  gap: 12px;
}

.thumb {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  object-fit: cover;
}

.goods-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.goods-title,
.goods-memo {
  margin-bottom: 6px;
}

.meta {
  font-size: 12px;
  color: #666;
  text-align: left;
}

/* 상세 정보 컬럼 */
.detail-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 상단 정렬 */
  align-items: center;         /* 중앙 정렬 */
  gap: 4px;
}

.basic-info {
  font-size: 12px;
  color: #495057;
}

.alert {
  font-size: 12px;
  color: #d62828;
  font-weight: 600;
}

/* 버튼 그룹 */
.button-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.button-row {
  display: flex;
  gap: 6px;
}

/* Pagination 영역 */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
