/* src/styles/common/button.css */

.btn {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 24px;
  height: 40px;
    /* min-width: 100px; */
    width: 100px;
    /* margin-top: 9px; */
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn.primary {
  background-color: #20c997; /* 검색 버튼 컬러 */
  color: white;
}

.btn.primary:hover {
  background-color: #009b6d;
}

.btn.secondary {
  background-color: #fff; /* 초기화 버튼 컬러 */
  color: #333;
  border: 1px solid #ddd;
}

.btn.secondary:hover {
  background-color: #f9fafb;
}


.btn.third-rate {
  background-color: #fff; /* 오특 버튼 컬러 */
  color: #333;
  border: 1px solid #ddd;
}

.btn.third-rate:hover {
  background-color: #009b6d;
  color: #fff;
}
