.combo-input-group {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 120px;
    flex: 1;
}


.combo-label {
    font-size: 12px;
    font-weight: 400;
    color: #596380;
}

.combo-box {
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.combo-box:focus-within {
    border: 1px solid #20c997;
    outline: none;
    background-color: #fff;
}


.combo-box-selected {
    flex: 1;
    font-size: 14px;
    color: #596380;
    padding: 10px 12px;
}

.combo-box-icon {
    width: 40px;
    height: 100%;
    border-left: 1px solid #eee;
    background: url("data:image/svg+xml;utf8,<svg fill='gray' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat center;
    background-size: 16px;
    background-repeat: no-repeat;
    background-color: #f9f9f9;
    cursor: pointer;
    border: none;
}


.combo-box-dropdown {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px 0 0 8px;
    background-color: #fff;
    z-index: 10;
    max-height: 160px;
    font-size: 14px;
    /* 약 4개 */
    overflow-y: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}

.combo-box-dropdown li {
    padding: 10px 12px;
    cursor: pointer;
}

.combo-box-dropdown li:hover {
    background-color: #f5f5f5;
}

/* 
.combo-input-group:focus {
    border-color: #20c997;
    outline: none;
    background-color: #fff;
} */