.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 24px;
    position: relative;
    z-index: 1000;
}

.greeting {
    font-weight: bold;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon {
    font-size: 20px;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-wrapper {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 28px;
    width: 120px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown-menu button {
    background: none;
    border: none;
    text-align: left;
    padding: 5px 5px;
    cursor: pointer;
}

.dropdown-item {
    /* padding: 12px; */
    text-align: left;
    white-space: nowrap;
    font-size: 14px;
    color: #212529;
    cursor: pointer;
    transition: background-color 0.2s;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
    width: 100%;
    text-align: center;
}