#brand-dropdown {
    display: none;
    position: absolute;
    top: 180px;
    /* input 필드 바로 아래에 위치하도록 설정 */
    background-color: white;
    border: 1px solid #ccc;
    max-height: 350px;
    overflow-y: auto;
    z-index: 1000;
    width: 150px;
    /* width adjustment to fit */
    box-sizing: border-box;
}

#brand-dropdown option {
    padding: 10px;
    cursor: pointer;
}

#brand-dropdown option:hover,
#brand-dropdown option.highlight {
    background-color: #f1f1f1;
}

/* Additional styles for better alignment */
#brand-search {
    width: calc(150px);
    height: 35px;
    margin-right: 20px;
}


/* 테이블 설정 */
.table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* 테이블 스타일 */
.table-responsive {
    border-radius: 10px;
    overflow: hidden;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    font-size: 14px;
    table-layout: fixed;
}

/* 테이블 헤더 스타일 */
.table th {
    background-color: #ff0000;
    padding: 10px;
    color: white;
}

/* 각 컬럼의 디폴트 너비 설정 */
.table th:nth-child(1),
.table td:nth-child(1) {
    width: 40px;
}

.table th:nth-child(2),
.table td:nth-child(2) {
    width: 40px;
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: 100px;
}

.table th:nth-child(4),
.table td:nth-child(4) {
    width: 100px;
}

.table th:nth-child(5),
.table td:nth-child(5) {
    width: 120px;
}


.table th:nth-child(6),
.table td:nth-child(6) {
    width: 120px;
}

.table th:nth-child(7),
.table td:nth-child(7) {
    width: 300px;
}

.table th:nth-child(8),
.table td:nth-child(8) {
    width: 100px;
}

.table th:nth-child(9),
.table td:nth-child(9) {
    width: 100px;
}

.table th:nth-child(10),
.table td:nth-child(10) {
    width: 100px;
}

.table th:nth-child(11),
.table td:nth-child(11) {
    width: 100px;
}

.table th:nth-child(12),
.table td:nth-child(12) {
    width: 100px;
}

.table th:nth-child(13),
.table td:nth-child(13) {
    width: 100px;
}

.table th:nth-child(14),
.table td:nth-child(14) {
    width: 100px;
}

.table th:nth-child(15),
.table td:nth-child(15) {
    width: 100px;
}

.table th:nth-child(16),
.table td:nth-child(16) {
    width: 100px;
}

.table th:nth-child(17),
.table td:nth-child(17) {
    width: 100px;
}

.table th:nth-child(18),
.table td:nth-child(18) {
    width: 100px;
}

.table th:nth-child(19),
.table td:nth-child(19) {
    width: 120px;
}

.table th:nth-child(20),
.table td:nth-child(20) {
    width: 80px;
}

.table th:nth-child(21),
.table td:nth-child(21) {
    width: 80px;
}

/* 테이블 데이터 셀 스타일 */
.table td {
    padding: 6px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* 행에 마우스를 올렸을 때 배경색 변경 */
.table-hover tbody tr:hover {
    background-color: #c7cdff;
}

/* 행의 라운딩이 부드럽게 보이도록 설정 */
.table tbody tr {
    border-radius: 10px;
    overflow: hidden;
}

/* 버튼 요소에 대한 스타일 */
button,
.btn-table {
    cursor: pointer;
}

.expandable,
.expanded-row {
    cursor: default;
    /* 행에 대한 포인터를 기본값으로 설정합니다 */
}