<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>

<body>
    <h1>{{ title }}</h1>

    <!-- 브랜드 리스트 수집 버튼 -->
    <form action="/collect/brandlist" method="get">
        <button type="submit">브랜드 리스트 수집</button>
    </form>

    <!-- 브랜드 샵 수집 입력 폼 -->
    <form action="/collect/brandshop" method="get">
        <label for="input_code">브랜드 코드:</label>
        <input type="text" id="input_code" name="input_code">
        <button type="submit">브랜드 샵 수집</button>
    </form>

    <!-- 데이터 표시 -->
    {% if brands %}
    <h2>Brand List:</h2>
    <ul>
        {% for brand in brands %}
        <li>{{ brand }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if goods %}
    <h2>Products:</h2>
    <ul>
        {% for good in goods %}
        <li>{{ good }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>

</html>