<!-- app/templates/product-collect.html -->

{% extends "base.html" %}

{% block content %}
<!-- 페이지 내용 -->
<h1>상품 수집 페이지</h1>
<p>여기에 상품 수집과 관련된 내용을 추가하세요.</p>

<!-- 자동완성 기능을 위한 입력 필드 -->
<input type="text" id="brand-search" placeholder="브랜드 검색" autocomplete="off">

<!-- 드롭다운 메뉴 -->
<select id="brand-dropdown" size="5" class="dropdown-content"></select>
<button id="search-btn">검색</button>
<button id="collect-btn">수집</button>

<!-- HTML 파일에서 자동완성 기능을 위한 스크립트 파일 연결 -->
<link rel="stylesheet" href="/static/css/product-collect/collect-brand-list.css">
<script src="/static/js/page/autocomplete-brand.js"></script>

<!-- Tabler의 테이블 코드 -->
<div class="table-responsive">
    <table class="table table-hover table-vcenter" id="product-table">
        <thead>
            <tr>
                <th>#</th>
                <th>상품명</th>
                <th>상품코드</th>
                <th>상품가격</th>
                <th>품절</th>
                <th>세일</th>
                <th>쿠폰</th>
                <th>수집 시간</th>
            </tr>
        </thead>
    </table>
</div>

{% if goods %}
<!-- 수집된 상품 목록을 표시 -->
<h2>수집된 상품 목록</h2>
<div class="table-responsive">
    <table class="table table-hover table-vcenter">
        <thead>
            <tr>
                <th>#</th>
                <th>상품명</th>
                <th>상품코드</th>
                <th>상품가격</th>
                <th>품절</th>
                <th>세일</th>
                <th>쿠폰</th>
                <th>수집 시간</th>
            </tr>
        </thead>
        <tbody>
            {% for good in goods %}
            <tr>
                <td>{{ good.idx }}</td>
                <td>{{ good.origin_goods_name }}</td>
                <td>{{ good.origin_goods_code }}</td>
                <td>{{ good.total_price }}</td>
                <td>{{ good.sold_out }}</td>
                <td>{{ good.sale }}</td>
                <td>{{ good.coupon }}</td>
                <td>{{ good.collection_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}