{% extends "base.html" %}

{% block content %}

<body>
    <!-- HTML 파일에서 자동완성 기능을 위한 스크립트 파일 연결 -->
    <link rel="stylesheet" href="/static/css/product-collect/collect-brand-list.css">
    <script src="/static/js/page/autocomplete-brand.js"></script>
    <!-- 페이지 내용 -->
    <nav>
        <ul>
            <li><a href="#" class="tablinks active" data-site="oliveyoung" id="site-oliveyoung" value="oliveyoung"
                    onclick="openSiteTab(event, 'Oliveyoung')">올리브영</a></li>
            <li><a href="#" class="tablinks" data-site="musinsa" id="site-musinsa" value="musinsa"
                    onclick="openSiteTab(event, 'Musinsa')">무신사</a></li>
        </ul>
    </nav>

    <div class="tab-container">
        <div id="Oliveyoung" class="sitecontent" style="display: block;">
            <div class="tab">
                <button class="tablinks active" id="tab-brand-oliveyoung"
                    onclick="openTab(event, 'BrandOliveyoung')">브랜드</button>
                <button class="tablinks" id="tab-single-oliveyoung"
                    onclick="openTab(event, 'SingleOliveyoung')">단일수집</button>
                <button class="tablinks" id="tab-multi-oliveyoung"
                    onclick="openTab(event, 'MultiOliveyoung')">대량수집</button>
            </div>

            <div id="BrandOliveyoung" class="tabcontent" style="display: block;">
                <div class="form-container">
                    <div class="form-group">
                        <label for="product-group-oliveyoung">상품 그룹명</label>
                        <input type="text" id="product-group-oliveyoung" placeholder="상품 그룹명을 입력해주세요"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="brand-search-oliveyoung">브랜드명</label>
                        <input type="text" id="brand-search-oliveyoung" placeholder="브랜드명을 입력해주세요" class="form-control">
                        <!-- 드롭다운 메뉴 -->
                        <select id="brand-dropdown-oliveyoung" size="5" class="dropdown-content"></select>
                    </div>
                    <div class="form-group">
                        <label for="memo-oliveyoung">메모</label>
                        <input type="text" id="memo-oliveyoung" placeholder="메모를 입력해주세요" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="representative-option-oliveyoung">대표 옵션 선택</label>
                        <select id="representative-option-oliveyoung" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="duplicate-handling-oliveyoung">중복상품 처리</label>
                        <select id="duplicate-handling-oliveyoung" class="form-control">
                            <option value="skip">건너뛰기</option>
                            <option value="update">업데이트</option>
                        </select>
                    </div>
                    <div class="form-actions">
                        <button id="reset-btn-oliveyoung" class="btn btn-outline-info">초기화</button>
                        <button id="special-today-btn-oliveyoung" class="btn btn-outline-success">오특</button>
                        <button id="collect-btn-oliveyoung" class="btn btn-success">수집</button>
                    </div>
                </div>
            </div>

            <div id="SingleOliveyoung" class="tabcontent" style="display: none;">
                <div class="form-container">
                    <div class="form-group">
                        <label for="product-group-oliveyoung">상품 그룹명</label>
                        <input type="text" id="product-group-oliveyoung" placeholder="상품 그룹명을 입력해주세요"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="single-product-url-oliveyoung">단일상품URL</label>
                        <input type="text" id="single-product-url-oliveyoung" placeholder="단일상품URL을 입력해주세요"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="memo-single-oliveyoung">메모</label>
                        <input type="text" id="memo-single-oliveyoung" placeholder="메모를 입력해주세요" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="representative-option-single-oliveyoung">대표 옵션 선택</label>
                        <select id="representative-option-single-oliveyoung" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="duplicate-handling-single-oliveyoung">중복상품 처리</label>
                        <select id="duplicate-handling-single-oliveyoung" class="form-control">
                            <option value="skip">건너뛰기</option>
                            <option value="update">업데이트</option>
                        </select>
                    </div>
                    <div class="form-actions">
                        <button id="reset-btn-single-oliveyoung">초기화</button>
                        <button id="collect-btn-single-oliveyoung">수집</button>
                    </div>
                </div>
            </div>

            <div id="MultiOliveyoung" class="tabcontent" style="display: none;">
                <div class="form-container">
                    <div class="form-group">
                        <label for="product-group-oliveyoung">상품 그룹명</label>
                        <input type="text" id="product-group-oliveyoung" placeholder="상품 그룹명을 입력해주세요"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="multi-product-url-oliveyoung">목록URL</label>
                        <input type="text" id="multi-product-url-oliveyoung" placeholder="목록URL을 입력해주세요"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="memo-multi-oliveyoung">메모</label>
                        <input type="text" id="memo-multi-oliveyoung" placeholder="메모를 입력해주세요" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="representative-option-multi-oliveyoung">대표 옵션 선택</label>
                        <select id="representative-option-multi-oliveyoung" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="duplicate-handling-multi-oliveyoung">중복상품 처리</label>
                        <select id="duplicate-handling-multi-oliveyoung" class="form-control">
                            <option value="skip">건너뛰기</option>
                            <option value="update">업데이트</option>
                        </select>
                    </div>
                    <div class="form-actions">
                        <button id="reset-btn-multi-oliveyoung">초기화</button>
                        <button id="search-btn-multi-oliveyoung">검색</button>
                        <button id="collect-btn-multi-oliveyoung">수집</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="Musinsa" class="sitecontent" style="display: none;">
            <div class="tab">
                <button class="tablinks active" id="tab-brand-musinsa"
                    onclick="openTab(event, 'BrandMusinsa')">브랜드</button>
                <button class="tablinks" id="tab-single-musinsa" onclick="openTab(event, 'SingleMusinsa')">단일수집</button>
                <button class="tablinks" id="tab-multi-musinsa" onclick="openTab(event, 'MultiMusinsa')">대량수집</button>
            </div>

            <div id="BrandMusinsa" class="tabcontent" style="display: block;">
                <div class="form-container">
                    <div class="form-group">
                        <label for="product-group-musinsa">상품 그룹명</label>
                        <input type="text" id="product-group-musinsa" placeholder="상품 그룹명을 입력해주세요" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="brand-search-musinsa">브랜드명</label>
                        <input type="text" id="brand-search-musinsa" placeholder="브랜드명을 입력해주세요" class="form-control">
                        <!-- 드롭다운 메뉴 -->
                        <select id="brand-dropdown-musinsa" size="5" class="dropdown-content"></select>
                    </div>
                    <div class="form-group">
                        <label for="memo-musinsa">메모</label>
                        <input type="text" id="memo-musinsa" placeholder="메모를 입력해주세요" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="representative-option-musinsa">대표 옵션 선택</label>
                        <select id="representative-option-musinsa" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="duplicate-handling-musinsa">중복상품 처리</label>
                        <select id="duplicate-handling-musinsa" class="form-control">
                            <option value="skip">건너뛰기</option>
                            <option value="update">업데이트</option>
                        </select>
                    </div>
                    <div class="form-actions">
                        <button id="reset-btn-musinsa">초기화</button>
                        <button id="special-today-btn-musinsa">오특</button>
                        <button id="collect-btn-musinsa">수집</button>
                    </div>
                </div>
            </div>

            <div id="SingleMusinsa" class="tabcontent" style="display: none;">
                <div class="form-container">
                    <div class="form-group">
                        <label for="product-group-musinsa">상품 그룹명</label>
                        <input type="text" id="product-group-musinsa" placeholder="상품 그룹명을 입력해주세요" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="single-product-url-musinsa">단일상품URL</label>
                        <input type="text" id="single-product-url-musinsa" placeholder="단일상품URL을 입력해주세요"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="memo-single-musinsa">메모</label>
                        <input type="text" id="memo-single-musinsa" placeholder="메모를 입력해주세요" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="representative-option-single-musinsa">대표 옵션 선택</label>
                        <select id="representative-option-single-musinsa" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="duplicate-handling-single-musinsa">중복상품 처리</label>
                        <select id="duplicate-handling-single-musinsa" class="form-control">
                            <option value="skip">건너뛰기</option>
                            <option value="update">업데이트</option>
                        </select>
                    </div>
                    <div class="form-actions">
                        <button id="reset-btn-single-musinsa">초기화</button>
                        <button id="collect-btn-single-musinsa">수집</button>
                    </div>
                </div>
            </div>

            <div id="MultiMusinsa" class="tabcontent" style="display: none;">
                <div class="form-container">
                    <div class="form-group">
                        <label for="product-group-musinsa">상품 그룹명</label>
                        <input type="text" id="product-group-musinsa" placeholder="상품 그룹명을 입력해주세요" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="multi-product-url-musinsa">목록URL</label>
                        <input type="text" id="multi-product-url-musinsa" placeholder="목록URL을 입력해주세요"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="memo-multi-musinsa">메모</label>
                        <input type="text" id="memo-multi-musinsa" placeholder="메모를 입력해주세요" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="representative-option-multi-musinsa">대표 옵션 선택</label>
                        <select id="representative-option-multi-musinsa" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="duplicate-handling-multi-musinsa">중복상품 처리</label>
                        <select id="duplicate-handling-multi-musinsa" class="form-control">
                            <option value="skip">건너뛰기</option>
                            <option value="update">업데이트</option>
                        </select>
                    </div>
                    <div class="form-actions">
                        <button id="reset-btn-multi-musinsa">초기화</button>
                        <button id="search-btn-multi-musinsa">검색</button>
                        <button id="collect-btn-multi-musinsa">수집</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}